<a href="{{ content.field_slide_url.0['#url'] }}" title="{{ content.title | raw }}">{{ content.field_slide_image }}</a>
<div class="slider-caption">
    <h2 class="silder-title">{{ content.title }}</h2>
    <div class="clearfix"><p class="slider-description">{{ content.field_slide_description.0 | raw }}</p></div>
    <a href="{{ content.field_slide_url.0['#url'] }}" class="more-link" title="{{ content.title | raw }}">{{ content.field_slide_url.0['#title'] }}</a>
</div>
